<div class="container">
  <div style="text-align: center;">
    <h5>ショッピングカート</h5>

    <% if @cart_items.empty? %>
      <div class="center-text">
        <p>カートに商品がありません</p>
        <%= link_to items_path, class: "btn btn-light btn-block", style: "width: 15rem;" do %>
          お買い物を続ける
        <% end %>
      </div>
    <% else %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <% @cart_items.each do |cart_item| %>
            <div class="col-md-4">
              <%= image_tag cart_item.item.image, width: 160, height: 244 %>
            </div>

            <div class="col-md-8">
              <div class="row"><%= cart_item.item.name %></div>
              <div class="row">
                <div class="col-4">
                  ￥<%= number_with_delimiter(cart_item.item.with_tax_price) %>（税込）
                </div>
                <div class="col-4">
                  <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, remote: true, html: { class: "cart-item-form" }) do |f| %>
                    <%= select_tag "cart_item[amount]", options_for_select(1..10, cart_item.amount), class: "form-control", data: { item_id: cart_item.id }, onchange: "this.form.submit()" , style: "width: 4rem;" %>
                  <% end %>
                </div>
                <div class="col-4">
                  <%= link_to cart_item_path(cart_item), method: :delete, data: { confirm: "本当に消しますか？" }, style: "color: red;" do %>
                    ×削除する
                  <% end %>
                </div>
              </div>

              <div id="cart-item-<%= cart_item.id %>-subtotal">
                ￥<%= number_with_delimiter(cart_item.subtotal) %>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class="col-md-6">

        <div class="row mb-3">
          <div class="col-6">商品小計</div>
          <div class="col-6 text-right">￥<%= number_with_delimiter(@total_amount) %>（税込）</div>
        </div>
        <div class="row mb-3">
          <div class="col-6">送料</div>
          <div class="col-6 text-right">￥<%= number_with_delimiter(@postage) %>（税込）</div>
        </div>
        
        <div class="row mb-3">
          <div class="col-6">合計</div>
          <div class="col-6 text-right">￥<%= number_with_delimiter(@total_amount + @postage) %>（税込）</div>
        </div>

        <div class="row justify-content-center">
          <% if @cart_items.any? %>
            <%= link_to new_order_path, class: "btn btn-dark btn-block", style: "width: 25rem;" do %>
              購入手続きへ進む
            <% end %>
          <% end %>
        </div>
        <div class="row justify-content-center">
          <%= link_to items_path, class: "btn btn-light btn-block", style: "width: 25rem;" do %>
            お買い物を続ける
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>