<div class="container">
  <div style="text-align: center;">
    <h5>ショッピングカート</h5>

    <% if @cart_items.empty? %>
      <div class="center-text">
        <p>カートに商品がありません</p>
        <%= link_to items_path, class: "btn btn-light btn-block", style: "width: 15rem;" do %>
          お買い物を続ける
        <% end %>
      </div>
    <% else %>

  </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6">
          <div class="row">
          <% @cart_items.each do |cart_item| %>
            <div class="col-md-6">
              <% if cart_item.item.image.attached? %>
                <%= image_tag cart_item.item.image, width: 160, height: 244 %>
              <% else %>
                <%= image_tag "no_image.jpg", width: 160, height: 244 %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= cart_item.item.name %></br>
              <div>
                ￥<%= number_with_delimiter(cart_item.item.with_tax_price) %>（税込）
                <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :put, html: { id: "cart-item-form" }) do |f| %>
                  <%= select_tag "cart_item[amount]", options_for_select(1..10, cart_item.amount), class: "form-control", onchange: "submitForm()" , style: "width: 4rem;" %>
                  <%= submit_tag "変更", class: "btn btn-success", style: "display: none;" %>
                <% end %>
              </div>
              <div><%= number_with_delimiter(cart_item.subtotal) %></div>
              <div>
                <%= link_to cart_item_path(cart_item) , method: :delete, "data-confirm" => "本当に消しますか？" , style: "color: red;" do %>
                  ×削除する
                <% end %>
              </div>
            <% end %>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="row justify-content-center">
          合計金額
          <%= number_with_delimiter(@total_payment) %>
          </div>
          <div class="row justify-content-center">
            <% if @cart_items.any? %>
              <%= link_to new_order_path, class: "btn btn-dark btn-block", style: "width: 25rem;" do %>
                購入手続きへ進む
              <% end %>
            <% end %>
          </div>
          <div class="row justify-content-center">
            <%= link_to items_path, class: "btn btn-light btn-block", style: "width: 25rem;" do %>
              お買い物を続ける
            <% end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>

</div>