<div class="container">

  <div class="row">
    <div class="col-md-6">
      <%= image_tag @item.get_image, width: 350, height: 500 %>
    </div>

    <div class="col-md-6">
      <h5><%= @item.name %></h5>
      <h3>￥<%= number_with_delimiter((@item.price * 1.1).to_i) %></h3>
      <p>COLOR :<%= @item.color %></p>


      <% if current_user %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <div class="form-group">
            <p>サイズ</p>
              <div class="btn-group" role="group" aria-label="サイズ選択">
              <%= f.radio_button :size, "S", id: :size_S, class: 'btn btn-outline-primary'  %>
              <%= f.label :size_S, "S" %>
  
              <%= f.radio_button :size, "M", id: :size_M, class: 'btn btn-outline-primary'  %>
              <%= f.label :size_M, "M" %>
  
              <%= f.radio_button :size, "L", id: :size_L, class: 'btn btn-outline-primary'  %>
              <%= f.label :size_L, "L" %>
            </div>

          </div>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :amount, value: 1 %>
          <div class="row justify-content-center">
            <%= button_tag(type: 'submit', class: "btn btn-dark btn-block", style: "width: 25rem;") do %>
              <i class="fa-solid fa-bag-shopping"></i> カートに入れる
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>