<div class="container">
  <div style="text-align: center;">
    <h5><b>注文履歴</b></h5>
  </div>
  
  <% if @orders.empty? %>
    <div class="center-text">
      <p>注文履歴がありません</p>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-12">
        <% @orders.each do |order| %>
          <div class="row mb-3">
            <div class="col-md-6">
              注文日：<%= order.created_at.strftime("%Y/%m/%d") %>
              <br>注文番号：<%= order.id %>
            </div>
            <div class="col-md-6">
              <%= link_to "注文詳細", order_path(order), class: "btn btn-light btn-block" %>
            </div>
          </div>

          <% order.order_details.each do |order_detail| %>
            <div class="row mb-2">
              <div class="col-md-2">
                <% if order_detail.item.image.attached? %>
                  <%= image_tag order_detail.item.image, width: 80, height: 122 %>
                <% else %>
                  <%= image_tag "no_image_item.jpg", width: 80, height: 122 %>
                <% end %>
              </div>
              <div class="col-md-10">
                <div class="row"><%= order_detail.item.name %></div>
                <div class="row"><%= order_detail.item.color %>　</div>
                <div class="row">数量: <%= order_detail.amount %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>