<div class="d-flex justify-content-center">
  <div class="col-md-3">
    <div class="progress-indicator">
      <div class="progress-step completed">
        <div class="circle">✓</div>
        <div class="label">カート</div>
      </div>
      <div class="progress-step now">
        <div class="circle"></div>
        <div class="label">購入手続き</div>
      </div>
      <div class="progress-step">
        <div class="circle"></div>
        <div class="label">注文確認</div>
      </div>
      <div class="progress-step">
        <div class="circle"></div>
        <div class="label">完了</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div style="text-align: center;">
    <h5><b>お届け先・お支払方法</b></h5>
  </div>


  <%= form_with model: @order, url: orders_confirmation_path, method: :post do |f| %>
    <h5>・お支払方法</h5>
    <div>
      <%= f.radio_button :payment_method, "credit_card", id: :payment_method_credit_card, required: true %>
      <%= f.label :payment_method_credit_card, "クレジットカード" %>
    </div>
    <div>
      <%= f.radio_button :payment_method, "cash", id: :payment_method_cash, required: true %>
      <%= f.label :payment_method_cash, "代金引換" %>
    </div>

    <div><b>お届け先</b></div>

    <div>
      <%= f.radio_button :address_type, "user_address", id: :address_type_user, required: true %>
      <%= f.label :address_type_user, "ご自身の住所" %>
    </div>
    <div>
      〒<%= current_user.postal_code + "　" + current_user.address %>
      <br>
      <%= current_user.last_name + current_user.first_name %>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <%= f.submit'確認画面へ進む', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

</div>