<div class="container">
  <div style="text-align: center;">
    <h5><b>注文内容の詳細</b></h5>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="row">
        注文日：<%= @order.created_at.strftime("%Y/%m/%d") %>
      </div>

      <% @order_details.each do |order_detail| %>
        <div class="row">
          <div class="col-md-2">
            <% if order_detail.item.image.attached? %>
              <%= image_tag order_detail.item.image, width: 160, height: 224 %>
            <% else %>
              <%= image_tag "no_image_item.jpg", width: 160, height: 224 %>
            <% end %>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-6 text-left">
                <div class="row"><%= order_detail.item.name %></div>
                <div class="row"><%= order_detail.item.color %> <%= order_detail.size %></div>
                <div class="row">￥<%= (order_detail.purchase_price * 1.1).floor.to_s(:delimited) %>（税込）</div>
                <div class="row">数量： <%= order_detail.amount %></div>
              </div>
              <div class="col-6 text-right d-flex align-items-end justify-content-end">
                ￥<%= (order_detail.purchase_price * order_detail.amount * 1.1).floor.to_s(:delimited) %>（税込）
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        送料<%= @order.postage %>
      </div>

      <div class="row">
        合計<%= (@total_payment * 1.1 + @order.postage).floor.to_s(:delimited) %>
      </div>

      <div class="row">
      <b>お届け先</b>
        <%= @order.shipping_postal_code %><br>
        <%= @order.shipping_address %><br>
        <%= @order.shipping_name %>
      </div>

      <div class="row">
      <b>お支払方法</b>
        <% if @order.payment_method == "credit_card" %>
          <%= "クレジットカード" %>
        <% elsif @order.payment_method == "cash" %>
          <%= "代金引換" %>
        <% end %>
      </div>

    </div>
  </div>
</div>