<div class="container">
  <h5><span style="background-color: #dcdcdc;">注文履歴詳細</span></h5>
  <div class="row">
    <div class="col-md-12">

    <b>購入者</b>
    <%= @order.user.last_name %>　<%= @order.user.first_name %>
    <br>

    <b>注文日</b>
    <%= @order.created_at %>
    <br>

    <b>配送先</b>
    〒<%= @order.shipping_postal_code.to_s.insert(3, "-") %>
    <%= @order.shipping_address %>
    <br>
    <%= @order.shipping_name %>
    <br>

    <b>支払い方法</b>
    <% if @order.payment_method == "credit_card" %>
      <%= "クレジットカード" %>
    <% elsif @order.payment_method == "transfer" %>
      <%= "銀行振込" %>
    <% end %>
    <br>

    </div>
  </div>

  <div class="row">

    <div class="col-md-8">
      <table class = "table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
            <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td>¥<%= (order_detail.purchase_price * 1.1).floor.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.purchase_price * order_detail.amount * 1.1).floor.to_s(:delimited) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <div class="col-md-4">
    <div>
      <b>商品合計</b>
      <%= (@total_payment * 1.1 ).floor.to_s(:delimited) %>円
    </div>
    <br>

    <div>
      <b>送料</b>
      <%= @order.postage %>円
    </div>
    <br>

    <div>
      <b>請求金額合計</b>
      <%= (@order.total_payment).to_s(:delimited) %>円
    </div>
  </div>

</div>
