<div class="container">
  <h5><span style="background-color: #dcdcdc;">ジャンル名称編集</span></h5>

  <div class="row justify-content-center">
    <div class="col-md-6">

    <!-- エラーチェック -->
    <% if @genre.errors.any? %>
      <%= @genre.errors.count %> errors prohibited this obj from being saved:
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

  　<%= form_with model: @genre,url: admin_genre_path(@genre), method: :patch do |f| %>

      
      
      <div class="field">
        <%= f.label :current_image, "現在のジャンル画像" %>
        <%= image_tag @genre.image, width: 150, height: 150 %>
      </div>
      
      <div class="field">
        <%= f.label :image, "新しい画像" %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.label :name, '新しいジャンル名:' %>
        <%= f.text_field :name %>
      </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.submit '変更を保存' ,class: "btn btn-success" %>
  </div>

    <% end %>

</div>