<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 ">

      <h3 style="text-align: center;">
        <span style="background-color: #eaedf7;">ジャンル一覧・追加</span>
      </h3>

      <div class="text-center">
        <%= form_with model: @genre,url: '/admin/genres', method: :post do |f| %>
          <%= f.label :name, '新しいジャンル名:' %>
          <%= f.text_field :name %>
          <%= f.submit '作成する' %>
        <% end %>
      </div>

      <div class="row">
        <% @genres.each do |genre| %>
          <div class="col-md-6 mb-3">
            <div class="genre">

                <%= genre.name %>

              |
              <%= link_to '削除', admin_genre_path(genre), method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>