<div class="container">
<h5 style="text-align: center;"><b>会員情報変更</b></h5>

  <div class="row justify-content-center">
    <div class="col-md-6">

    <%= form_for @user, url: user_path(@user), method: :patch do |f| %>

      <!-- エラーチェック -->
      <% if @user.errors.any? %>
        <%= @user.errors.count %> errors prohibited this obj from being saved:
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="row form-group">
        <div class="col-md-12">
          <b><%= f.label :'名前（必須)' %></b>
        </div>
        <%= f.text_field :last_name, placeholder: '(例)山田',autofocus: true, class: "col-md-6 example-text" %>
        <%= f.text_field :first_name, placeholder: '(例)太郎',autofocus: true, class: "col-md-6 example-text" %>
      </div>

      <div class="row form-group">
        <div class="col-md-12">
          <b><%= f.label :'カナ（必須）' %></b>
        </div>
        <%= f.text_field :last_name_kana, placeholder: '(例)ヤマダ', autofocus: true, class: "col-md-6" %>
        <%= f.text_field :first_name_kana, placeholder: '(例)タロウ', autofocus: true, class: "col-md-6" %>
      </div>

      <div class="row form-group">
        <b><%= f.label :"郵便番号(ハイフンなし)", class: "col-md-12" %></b>
        <%= f.text_field :postal_code, placeholder: '0123456', autofocus: true, class: "col-md-12" %>
      </div>

      <div class="row form-group">
        <b><%= f.label :住所, class: "col-md-12" %></b>
        <%= f.text_field :address, placeholder: '○○県△△市××町1-2-3' , autofocus: true, class: "col-md-12" %>
      </div>

      <div class="row form-group">
        <b><%= f.label :"電話番号(ハイフンなし)", class: "col-md-12" %></b>
        <%= f.text_field :telephone_number, placeholder: '0123456789', autofocus: true, class: "col-md-12" %>
      </div>

      <div class="row form-group">
        <b><%= f.label :メールアドレス, class: "col-md-12" %></b>
        <%= f.email_field :email, placeholder: 'メールアドレスを入力してください。', autofocus: true, class: "col-md-12" %>
        <p style="color: red;">ログインの際に必要になります。忘れないようにしてください。</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <%= f.submit "変更する" ,class: "btn btn-dark btn-block" %>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-md-6">
          <%= link_to "戻る", mypage_path , class: "btn btn-light btn-block" %>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>